<div class="eatsleepcode">  
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <h1>Kids, Work, Eat, < Code >, Sleep, Repeat </h1>
    <br />
    <h2>Learning to code by lamp light, one challenge and web app at a time.</h2>
  </div>  
</div>
