<div class="positive">  
  <div class="frosty"> 
    <br />
    <dive class="row feature text-center">
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Custom Made Tumblers</h1>
    <br />
     <%= link_to 'Click Here to Order', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>  
</div>

